<!DOCTYPE html>
<!-- Created by CodingLab |www.youtube.com/CodingLabYT-->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <!--<title> Drop Down Sidebar Menu | CodingLab </title>-->
    <link
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/css/newStyle.css" />
    <link rel="shortcut icon" href="#" type="image/x-icon">
    <!-- Boxiocns CDN Link -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="sidebar close">
      <a href="/">
        <div class="logo-details">
          <i class="bx bxl-c-plus-plus"></i>
          <span class="logo_name">CodingLab</span>
        </div>
      </a>

      <ul class="nav-links">
        {{ if not .User.ID}}
        <li class="login">
          <a href="/sign-in">
            <i class="bx bx-log-in-circle"></i>
            <span class="link_name">Login</span>
          </a>
          <ul class="sub-menu blank">
            <li><a class="link_name" href="/sign-in">Login</a></li>
          </ul>
        </li>
        {{else}}
        <li class="login">
          <a href="/logout">
            <i class="bx bx-log-in-circle"></i>
            <span class="link_name">Logout</span>
          </a>
          <ul class="sub-menu blank">
            <li><a class="link_name" href="/logout">Logout</a></li>
          </ul>
        </li>

        {{end}}
        <li>
          <a href="/">
            <i class="bx bx-home"></i>
            <span class="link_name">Home page</span>
          </a>
          <ul class="sub-menu blank">
            <li><a class="link_name" href="/">Home page</a></li>
          </ul>
        </li>
        {{ if .User.ID }}
        <li class="write">
          <a href="/create-post">
            <i class="bx bx-edit"></i>
            <span class="link_name">Create post</span>
          </a>
          <ul class="sub-menu blank">
            <li><a class="link_name" href="/create-post">Create post</a></li>
          </ul>
        </li>

        

        <li>
          <div class="iocn-link">
            <a href="#">
              <i class="bx bx-book-alt"></i>
              <span class="link_name">Filter</span>
            </a>
            <i class="bx bxs-chevron-down arrow"></i>
          </div>
          <ul class="sub-menu">
            <li><a class="link_name" href="#">Filter</a></li>
            <li><a href="/get-created-posts/">Created posts</a></li>
            <li>
              <a href="/get-liked-posts/">Liked post</a>
            </li>
          </ul>
        </li>
        {{ end }}

        <li>
          <div class="iocn-link">
            <a href="#">
              <i class="bx bx-collection"></i>
              <span class="link_name">Category</span>
            </a>
            <i class="bx bxs-chevron-down arrow"></i>
          </div>
          <ul class="sub-menu">
            <li><a class="link_name" href="#">Category</a></li>
            <li><a href="/get-posts-by-category?category=Golang">Golang</a></li>
            <li>
              <a href="get-posts-by-category?category=Python">Python</a>
            </li>
            <li>
              <a href="get-posts-by-category?category=JavaScript">JavaScript</a>
            </li>
            <li><a href="get-posts-by-category?category=Docker">Docker</a></li>
            <li><a href="get-posts-by-category?category=SQL">SQL</a></li>
          </ul>
        </li>

        {{ if .User.ID }}
        <li>
          <div class="profile-details">
            <div class="profile-content">
              <!--<img src="image/profile.jpg" alt="profileImg">-->
            </div>
            <div class="name-job">
              <div class="profile_name">{{ .User.Username }}</div>
              <div class="job">Golang Developer</div>
            </div>
            <a href="/logout" class="btn btn-secondary"
              ><i class="bx bx-log-out"></i
            ></a>
          </div>
        </li>
        {{ end }}
      </ul>
    </div>

    <section class="home-section">
      <div class="home-content">
        <div>
          <i class="bx bx-menu"></i>
          <!-- <span class="text">Drop Down Sidebar</span> -->
        </div>
      </div>
      <div class="container">
        {{ range .Post }}
        <div class="index-post">
          <h1><a href="/get-post/{{.Id}}"><p style="overflow: hidden">{{ .Title }}</p></a></h1>
          <p class="post-content" style="overflow: hidden">{{ .About }}</p>
        </div>
        {{ end }}
      </div>
    </section>
    <script>
      let arrow = document.querySelectorAll(".arrow");
      for (var i = 0; i < arrow.length; i++) {
        arrow[i].addEventListener("click", (e) => {
          let arrowParent = e.target.parentElement.parentElement; //selecting main parent of arrow
          arrowParent.classList.toggle("showMenu");
        });
      }
      let sidebar = document.querySelector(".sidebar");
      let sidebarBtn = document.querySelector(".bx-menu");
      console.log(sidebarBtn);
      sidebarBtn.addEventListener("click", () => {
        sidebar.classList.toggle("close");
      });
    </script>
  </body>
</html>
